.place__button {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  position: relative;
  background-color: rgba(2, 120, 254, 1);
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding: 0.813rem 1.25rem;
}

.place__button:hover {
  background-color: rgba(0, 99, 210, 1);
  transform: scale(1);
  transition: background-color 0.4s ease-in-out;
}
