.intro__text_author {
  width: 720px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .intro__text_author {
    max-width: 288px;
    margin: 0px;
  }
}
