.place__title {
  max-width: 460px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  margin-bottom: 48px;
  margin-right: 40px;
  margin-top: 0px;
  grid-row: 0.5fr;
}
