.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.place__website-artist {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  margin: 0;
  font-style: normal;
}

.place__website-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
}
