.cover {
  background-image: url(../../images/__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1184px;
  height: 740px;
  margin-top: 92px;
  gap: 32px;
}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.cover:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .cover {
    max-height: 254px;
    max-width: 321.26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover {
    max-width: 768px;
    max-height: 746px;
  }
}
